.emailverified{
width: 100%;
height: 100%;
}
:root {
    --smallT: 16px;
    --midT: 25px;
    --largeT: 30px;
    --Dcolor: rgb(4, 134, 129);
    --Lcolor: rgb(100, 184, 181);
    --Hovcolor: rgb(16, 196, 190);

}

* {
    margin: 0;
    padding: 0;
}
body{
    /* background-image: url(images/bg.jpg); */
    object-fit: cover ;
    
}
header{
    
    display: flex;flex-direction: column;
}
nav {

    width: 100%;

    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--Dcolor);
}

    /* .navbar{
        width: 100%;
    } */
.heading{
    width: 300PX;
    font-size: var(--largeT);
    text-align: center;
}
.ul{
    
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

}
.li{
    padding: 10px 20px;
}

a{
    text-decoration: none;
    color: black;
    font-size: var(--midT);
}
.li:hover, .dropdown-content{
    background-color:var(--Hovcolor);
}

.dropdown-items a, .dropdown-items input{
    font-size: var(--smallTT);
    font-weight: 500;
    font-family:  sans-serif;
    cursor: pointer;

}


.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: forestgreen; */
    min-width: 160px;
    margin: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-items {
   margin: 10px;
    padding: 10px ;
    color: black;
    padding: 12px 16px;
    font-size: var(--smallT);
    text-decoration: none;
cursor: pointer;

    display: block;
    clear: both;
    text-align: center;
}

.dropdown-items:hover{
    background-color: white;
}

#dropdown:hover .dropdown-content {
    content: "";
    transform: translateX(10deg);
    display: block;
}

.dropdown-items input[type=submit] {
    width: 100px;
    height: max-content;
    /* font-size: var(--smallT); */
    /* margin: 20px; */
    border: none;
    background-color: transparent;


}

div .logout-btn{
    background-color: var(--Lcolor);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

div .fa-bars{
display: none;
}
.ul .fa-xmark{
    display: none;
    font-size: var(--largeT);
}

main{
    height: 100%;
    display: flex;
}

aside{
height: 600px;
width: 300px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
row-gap: 50px;
box-shadow: 0px 0px 5px 1px black;
}
.p-details{
/* width: 100%; */
row-gap: 20px;
    display: flex;
    flex-direction: column;
justify-content: start;
    align-items: center;
}
.sub-details #firstN,
.sub-details #lastN{
    text-transform: capitalize;
}
.sub-details label{
    text-align: left;
color: gray;
}
#image{
    width: 150px;
    height: 150px;
    border-radius:50%;
    
}
 .change-btn a{
    width: 150px;
    height: max-content;
    font-size: var(--smallT);
    /* margin: 20px; */
    padding: 10px 20px;
    border: none;
    background-color:var(--Hovcolor);
    border-radius: 10px;
    cursor: pointer;
}
.change-btn a:hover{
    
box-shadow: 1px 1px 10px 1px black;
/* display: none; */
}

input[type=submit] {
    width: 100px;
    height: max-content;
    font-size: var(--smallT);
    cursor: pointer;
    /* margin: 20px; */
    border: none;
    background-color: transparent;


}
#myorders{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; 
    
}
#myorders h1{
    margin-bottom: 50px;
}
#p-image{
    height: 100px;
    border-radius: 10px;
}
#p-name{
    /* width: 30%; */
}
#details{

    padding:  20px;
    width: 60%;
display: flex;
flex-direction: column;
justify-content: center;
    margin: 20px;
    box-shadow: 1px 1px 5px 1px black;

}
.image{
    display: flex;
}
.image div{
    display: flex;
    align-items: center;
}
.image div .des{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#details div div{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    padding: 5px;
}

@media (max-width:910px) {
    div .fa-bars{
        
        display: block;
        font-size: var(--midT);
    }
    .ul{
        height: 100%;
        width: 230px;
    /* display: none; */
    flex-direction: column;
    position: fixed;
    z-index: 2;
    top: 0px;
    right: 0;
    background-color: var(--Lcolor);
    align-items: end;
    transition: 2s;
    }
    .li{
        margin-right: 10px;
        transition: 1s;
    }
    .ul .fa-xmark{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin: 20px;
        
    }
    .dropdown-content{
        margin: 10px 0px 0px -100px;
    }
    
    .heading{
        width: max-content;
    }

        
    }